<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
    
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/boxicons.min.css">
        <link rel="stylesheet" href="CSS/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
       
       
      </head>
   <body data-bs-spy="scroll" data-bs-target=".navbar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand logo-text" href="#">CODE FOR GOOD</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
  
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="#services">Services</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#portfolio">Portfolio</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#features">Features</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#team">Team</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#testimonials">Testimonials</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#Profile"><i class="fa fa-fw fa-user"></i> Profile</a>
               </li>
               <a href="/users/logout" class="nav-link"  >Logout</a>
            </ul>
          </div>
        </div>
      </nav>
      <section id="home">
        <div class="container text-center">
           <div class="row justify-content-center">
              <div class="col-md-10">
                 <h1 class="text-white display-4">WE ARE CREATIVE AGENCY, CREATIVE PEOPLE</h1>
                 <p class="text-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-les</p>
                 <a href="#contact" class="btn fadeIn fourth btn-info mb-3 mt-2">Contact</a>
              </div>
           </div>
        </div>
     </section>
     <section id="services">
        <div class="container">
           <div class="row">
              <div class="col-12 section-intro">
                 <h1>Our Services</h1>
                 <div class="hline"></div>
              </div>
           </div>
           <div class="row">
              <div class="col-lg-4 col-sm-6 p-4">
                 <div class="icon-box">
                    <i class='bx bxs-landscape'></i>
                 </div>
                 <h4 class="title-sm mt-4">Graphic Designing</h4>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
              </div>
              <div class="col-lg-4 col-sm-6 p-4">
                 <div class="icon-box">
                    <i class='bx bxs-coffee'></i>
                 </div>
                 <h4 class="title-sm mt-4">Codding</h4>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
              </div>
              <div class="col-lg-4 col-sm-6 p-4">
                 <div class="icon-box">
                    <i class='bx bxs-image'></i>
                 </div>
                 <h4 class="title-sm mt-4">Photography</h4>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
              </div>
              <div class="col-lg-4 col-sm-6 p-4">
                 <div class="icon-box">
                    <i class='bx bxs-check-shield'></i>
                 </div>
                 <h4 class="title-sm mt-4">Hacking</h4>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
              </div>
              <div class="col-lg-4 col-sm-6 p-4">
                 <div class="icon-box">
                    <i class='bx bx-laptop'></i>
                 </div>
                 <h4 class="title-sm mt-4">Web Designing</h4>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
              </div>
              <div class="col-lg-4 col-sm-6 p-4">
                 <div class="icon-box">
                    <i class='bx bxs-happy-heart-eyes'></i>
                 </div>
                 <h4 class="title-sm mt-4">UI Design</h4>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
              </div>
           </div>
        </div>
     </section>


     <section id="Profile">
        <div class="container text-center">
           <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="card">
                    <img src="images/user_profie.png" alt="user_image" style="width:80%" class="user_img"><br>
                    <h2>SAKSHI DOSHI</h2>
                    <p class="title">sakshidoshi1103@gmail.com</p>
                    <p>Mumbai University</p>
                    <input type="submit" class="btn fadeIn fourth btn-info mb-3 mt-2" value="SIGN OUT">
                  </div>
              </div>
           </div>
        </div>
     </section>


   </body>

</html>