<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> 
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Edu+NSW+ACT+Foundation&family=Poppins:wght@200&display=swap"
        rel="stylesheet">

        <script type="text/javascript">
            (function(d, m){
                var kommunicateSettings = 
                    {"appId":"243a293ca8ad9be697071a28869ff7b2","popupWidget":true,"automaticChatOpenOnNavigation":true};
                var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
                s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
                var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
                window.kommunicate = m; m._globals = kommunicateSettings;
            })(document, window.kommunicate || {});
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
        </script>
  </head>
<body>
<%- include('../navbar.ejs') %>

<!--  Cards Start -->
<main class="" style="padding-top: 0px;">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

            <div class="carousel-indicators">

                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 600px;">
                    <img class="d-block w-100 img-fluid" alt="..." src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Stray_dogs_crosswalk.jpg/1024px-Stray_dogs_crosswalk.jpg"/>
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Josh Billings</h2>
                        <h4>“A dog is the only thing on earth that loves you more than you love yourself.”</h4>
                    </div>
                </div>
                <div class="carousel-item" style="height: 600px;">
                    <img src="https://assets.nationbuilder.com/msspan/pages/408/attachments/original/1496268790/stray_dogs.png?1496268790" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Eckhart Tolle</h2>
                        <h4>“When the dog looks at you, the dog is not thinking what kind of a person you are. The dog
                            is not judging you.”</h4>
                    </div>
                </div>
                <div class="carousel-item" style="height: 600px;">
                    <img src="https://images.thequint.com/thequint%2F2016-06%2F95c0fe20-9faa-40f2-9b41-2771cd0f167f%2FStary_Dogs_iStock.jpg?rect=0%2C0%2C1820%2C1024&auto=format%2Ccompress&fmt=webp&width=720" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Orhan Pamuk</h2>
                        <h4>“Dogs do speak, but only to those who know how to listen.”</h4>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <section class="how">

            <div class="container px-4 text-left">
                <h1 class="text-center my-4">Your Pet Adoption Journey With PawsHunger</h1>
                <div class="row gx-5">
                    <div class="col ">
                        <div class="p-3 h-100 w=100">
                            <img src="https://media.istockphoto.com/photos/intrigued-crossbreed-dog-looking-at-the-camera-picture-id1311639678?b=1&k=20&m=1311639678&s=170667a&w=0&h=SQQ_8IatMtnkxLZDwpmj5Z8VvRQjvZFQqIWXFL-YHjQ=" width="80%" height="80%" > </div>
                    </div>
                    <div class="col d-flex">
                        <div class="py-5 row">
                            <div class="">
                                <div style="display: inline-block;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                        viewBox="0 0 512.00045 512">
                                        <path
                                            d="m449.949219 380.882812c-45.234375-45.238281-97.363281-66.453124-116.429688-47.386718-19.066406 19.066406 2.148438 71.195312 47.382813 116.429687 45.238281 45.238281 97.363281 66.453125 116.429687 47.386719 19.066407-19.066406-2.148437-71.195312-47.382812-116.429688zm0 0"
                                            fill="#edd464"></path>
                                        <path
                                            d="m497.34375 497.308594c-19.074219 19.066406-71.203125-2.148438-116.433594-47.378906-45.238281-45.238282-66.453125-97.367188-47.390625-116.429688-7.46875 7.46875 23.148438 50.191406 68.390625 95.433594 45.230469 45.230468 87.960938 75.847656 95.433594 68.375zm0 0"
                                            fill="#d8951e"></path>
                                        <path
                                            d="m413.511719 210.5625c0 112.070312-90.851563 202.917969-202.917969 202.917969-112.070312 0-202.917969-90.847657-202.917969-202.917969 0-112.066406 90.847657-202.917969 202.917969-202.917969 112.066406 0 202.917969 90.851563 202.917969 202.917969zm0 0"
                                            fill="#43b9dd"></path>
                                        <path
                                            d="m361.371094 210.5625c0 83.273438-67.507813 150.777344-150.777344 150.777344-83.273438 0-150.78125-67.503906-150.78125-150.777344 0-83.269531 67.507812-150.777344 150.78125-150.777344 83.269531 0 150.777344 67.507813 150.777344 150.777344zm0 0"
                                            fill="#eaeaea"></path>
                                        <path
                                            d="m317.207031 103.949219c-33.871093-33.875-79.851562-48.253907-124.011719-43.15625 32.601563 3.765625 64.210938 18.144531 89.222657 43.15625 58.878906 58.878906 58.878906 154.347656 0 213.230469-25.011719 25.007812-56.621094 39.386718-89.222657 43.152343 44.160157 5.101563 90.140626-9.28125 124.011719-43.152343 58.882813-58.882813 58.882813-154.347657 0-213.230469zm0 0"
                                            fill="#fff"></path>
                                        <g fill="#b75129">
                                            <path
                                                d="m260.351562 245.761719c0 27.480469-22.277343 49.761719-49.757812 49.761719s-49.757812-22.28125-49.757812-49.761719 22.277343-49.757813 49.757812-49.757813 49.757812 22.277344 49.757812 49.757813zm0 0">
                                            </path>
                                            <path
                                                d="m197.0625 146.304688c0 11.425781-9.265625 20.691406-20.691406 20.691406-11.429688 0-20.691406-9.265625-20.691406-20.691406 0-11.429688 9.261718-20.691407 20.691406-20.691407 11.425781 0 20.691406 9.261719 20.691406 20.691407zm0 0">
                                            </path>
                                            <path
                                                d="m143.464844 189.621094c0 11.425781-9.261719 20.691406-20.691406 20.691406-11.425782 0-20.691407-9.265625-20.691407-20.691406 0-11.429688 9.265625-20.691406 20.691407-20.691406 11.429687 0 20.691406 9.261718 20.691406 20.691406zm0 0">
                                            </path>
                                            <path
                                                d="m319.101562 191.242188c0 11.425781-9.265624 20.691406-20.691406 20.691406-11.429687 0-20.691406-9.265625-20.691406-20.691406 0-11.429688 9.261719-20.691407 20.691406-20.691407 11.425782 0 20.691406 9.261719 20.691406 20.691407zm0 0">
                                            </path>
                                            <path
                                                d="m266.289062 146.941406c0 11.425782-9.265624 20.691406-20.691406 20.691406-11.425781 0-20.691406-9.265624-20.691406-20.691406 0-11.425781 9.265625-20.691406 20.691406-20.691406 11.425782 0 20.691406 9.265625 20.691406 20.691406zm0 0">
                                            </path>
                                        </g>
                                        <path
                                            d="m98.550781 98.519531c-61.78125 61.78125-61.78125 162.304688 0 224.085938 30.890625 30.890625 71.464844 46.335937 112.042969 46.335937 40.574219 0 81.152344-15.445312 112.042969-46.335937 61.777343-61.78125 61.777343-162.304688 0-224.085938-61.78125-61.777343-162.308594-61.777343-224.085938 0zm213.230469 10.855469c55.796875 55.796875 55.796875 146.582031 0 202.378906s-146.582031 55.796875-202.378906 0c-55.792969-55.796875-55.792969-146.582031 0-202.378906 27.898437-27.898438 64.542968-41.847656 101.191406-41.847656 36.644531 0 73.289062 13.949218 101.1875 41.847656zm0 0">
                                        </path>
                                        <path
                                            d="m153.160156 245.761719c0 31.667969 25.761719 57.433593 57.429688 57.433593 31.667968 0 57.433594-25.765624 57.433594-57.433593s-25.765626-57.429688-57.433594-57.429688c-31.667969 0-57.429688 25.761719-57.429688 57.429688zm57.433594-42.082031c23.203125 0 42.082031 18.878906 42.082031 42.082031s-18.878906 42.085937-42.082031 42.085937c-23.207031 0-42.085938-18.882812-42.085938-42.085937s18.878907-42.082031 42.085938-42.082031zm0 0">
                                        </path>
                                        <path
                                            d="m163.863281 171.761719c3.953125 1.941406 8.203125 2.921875 12.480469 2.921875 3.085938 0 6.183594-.507813 9.1875-1.535156 7.171875-2.445313 12.960938-7.539063 16.300781-14.339844 3.339844-6.800782 3.832031-14.496094 1.382813-21.667969-2.445313-7.167969-7.539063-12.957031-14.339844-16.296875-6.800781-3.34375-14.496094-3.835938-21.664062-1.386719-14.804688 5.050781-22.738282 21.203125-17.6875 36.007813 2.445312 7.167968 7.539062 12.957031 14.339843 16.296875zm8.304688-37.777344c1.375-.46875 2.796875-.703125 4.210937-.703125 1.964844 0 3.917969.449219 5.730469 1.339844 3.121094 1.53125 5.457031 4.1875 6.578125 7.480468 1.125 3.289063.898438 6.820313-.632812 9.941407-1.535157 3.121093-4.191407 5.457031-7.480469 6.578125-3.292969 1.125-6.824219.898437-9.945313-.632813-3.117187-1.535156-5.457031-4.191406-6.578125-7.480469-2.316406-6.792968 1.324219-14.207031 8.117188-16.523437zm0 0">
                                        </path>
                                        <path
                                            d="m98.976562 174.183594c-4.125 6.355468-5.523437 13.9375-3.945312 21.347656s5.949219 13.761719 12.304688 17.886719c4.757812 3.085937 10.105468 4.558593 15.394531 4.558593 9.296875 0 18.414062-4.554687 23.839843-12.917968 4.125-6.355469 5.527344-13.9375 3.945313-21.347656-1.578125-7.410157-5.949219-13.765626-12.304687-17.886719-6.355469-4.125-13.9375-5.527344-21.347657-3.949219-7.410156 1.582031-13.761719 5.953125-17.886719 12.308594zm12.878907 8.351562c1.890625-2.917968 4.804687-4.921875 8.207031-5.644531.910156-.195313 1.828125-.292969 2.738281-.292969 2.488281 0 4.921875.71875 7.058594 2.101563 2.914063 1.894531 4.921875 4.808593 5.644531 8.207031.726563 3.402344.082032 6.882812-1.808594 9.796875-1.894531 2.917969-4.808593 4.921875-8.210937 5.648437-3.398437.722657-6.878906.082032-9.796875-1.8125-2.914062-1.890624-4.921875-4.804687-5.644531-8.207031-.722657-3.398437-.082031-6.878906 1.8125-9.796875zm0 0">
                                        </path>
                                        <path
                                            d="m274.289062 206.167969c3.988282 6.445312 10.246094 10.949219 17.621094 12.683593 2.175782.511719 4.371094.765626 6.550782.765626 5.210937 0 10.335937-1.445313 14.878906-4.257813 6.441406-3.984375 10.945312-10.242187 12.679687-17.617187 1.738281-7.375.496094-14.988282-3.488281-21.429688-3.988281-6.441406-10.246094-10.945312-17.621094-12.683594-7.375-1.734375-14.984375-.496094-21.429687 3.492188-6.441407 3.988281-10.945313 10.246094-12.683594 17.621094-1.734375 7.375-.496094 14.984374 3.492187 21.425781zm11.449219-17.910157c.796875-3.382812 2.863281-6.253906 5.820313-8.085937 2.085937-1.289063 4.4375-1.953125 6.828125-1.953125 1 0 2.007812.117188 3.003906.351562 3.386719.796876 6.257813 2.863282 8.085937 5.820313 1.832032 2.957031 2.398438 6.449219 1.601563 9.832031-.796875 3.386719-2.863281 6.253906-5.820313 8.085938-6.101562 3.777344-14.140624 1.882812-17.917968-4.21875-1.828125-2.953125-2.394532-6.445313-1.601563-9.832032zm0 0">
                                        </path>
                                        <path
                                            d="m235.867188 173.585938c3.175781 1.160156 6.464843 1.738281 9.746093 1.738281 4.078125 0 8.140625-.890625 11.945313-2.660157 6.871094-3.199218 12.085937-8.875 14.683594-15.992187 2.597656-7.117187 2.269531-14.820313-.925782-21.691406-3.195312-6.871094-8.875-12.085938-15.992187-14.683594-14.691407-5.367187-31.007813 2.222656-36.375 16.917969-2.597657 7.117187-2.269531 14.820312.925781 21.6875 3.199219 6.871094 8.875 12.085937 15.992188 14.683594zm-2.496094-31.109376c1.925781-5.273437 6.925781-8.550781 12.238281-8.550781 1.480469 0 2.984375.253907 4.453125.789063 3.265625 1.191406 5.871094 3.585937 7.335938 6.738281 1.46875 3.152344 1.617187 6.6875.425781 9.953125-2.460938 6.742188-9.949219 10.226562-16.691407 7.761719-6.742187-2.460938-10.226562-9.949219-7.761718-16.691407zm0 0">
                                        </path>
                                        <path
                                            d="m504.867188 446.015625c-9.324219-22.917969-26.898438-47.976563-49.480469-70.558594-22.058594-22.054687-46.683594-39.421875-68.996094-48.835937 22.632813-34.136719 34.792969-74.160156 34.792969-116.058594 0-56.25-21.90625-109.132812-61.679688-148.910156-5.746094-5.746094-11.863281-11.203125-18.183594-16.21875-3.324218-2.636719-8.148437-2.078125-10.785156 1.242187-2.632812 3.320313-2.078125 8.148438 1.242188 10.78125 5.863281 4.652344 11.539062 9.71875 16.875 15.050781 36.875 36.875 57.183594 85.90625 57.183594 138.054688 0 52.152344-20.308594 101.183594-57.183594 138.058594-36.878906 36.878906-85.910156 57.1875-138.058594 57.1875-52.152344 0-101.183594-20.308594-138.058594-57.1875-36.878906-36.875-57.1875-85.90625-57.1875-138.058594 0-52.148438 20.308594-101.179688 57.1875-138.054688 30.414063-30.417968 68.953125-49.566406 111.453125-55.375 41.136719-5.628906 83.753907 2.15625 120.003907 21.917969 3.722656 2.027344 8.382812.65625 10.410156-3.066406 2.03125-3.722656.660156-8.382813-3.0625-10.410156-39.105469-21.320313-85.070313-29.71875-129.433594-23.652344-45.847656 6.269531-87.421875 26.925781-120.226562 59.730469-39.773438 39.777344-61.679688 92.660156-61.679688 148.910156 0 56.253906 21.90625 109.136719 61.679688 148.914062 39.777343 39.773438 92.660156 61.679688 148.914062 61.679688 41.894531 0 81.921875-12.160156 116.058594-34.800781 9.417968 22.324219 26.777344 46.949219 48.828125 68.996093 22.585937 22.585938 47.648437 40.164063 70.5625 49.492188 11.699219 4.757812 22.328125 7.132812 31.511719 7.132812 10.46875 0 19.0625-3.085937 25.210937-9.238281 11.542969-11.546875 12.289063-31.691406 2.101563-56.722656zm-12.957032 45.871094c-6.796875 6.800781-21.40625 6.339843-40.078125-1.261719-21.066406-8.570312-44.328125-24.953125-65.5-46.125-21.832031-21.832031-38.644531-46.070312-46.851562-67.359375 6.980469-5.421875 13.671875-11.3125 20.023437-17.664063 6.351563-6.355468 12.246094-13.046874 17.671875-20.027343 21.277344 8.207031 45.515625 25.023437 67.355469 46.859375 45.066406 45.066406 61.140625 91.8125 47.378906 105.578125zm0 0">
                                        </path>
                                    </svg>
                                </div>
                                <h4 style="display: inline-block;">Search Pet</h4>
                                <p>Adopt a dog or cat who's right for you.</p>
                            </div>

                            <div>
                                <div style="display: inline-block;">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 256 256"
                                        style="enable-background:new 0 0 256 256;" xml:space="preserve" width="70"
                                        height="70">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #4EA3DA;
                                            }

                                            .st1 {
                                                fill: #FFFFFF;
                                            }

                                            .st2 {
                                                fill: #FFCC34;
                                            }

                                            .st3 {
                                                fill: #122436;
                                            }
                                        </style>
                                        <switch>
                                            <foreignObject
                                                requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0"
                                                y="0" width="1" height="1">
                                                <i:pgfref xlink:href="#adobe_illustrator_pgf"> </i:pgfref>
                                            </foreignObject>
                                            <g i:extraneous="self">
                                                <g>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <path class="st0"
                                                                        d="M128,222.408c-52.057,0-94.408-42.351-94.408-94.408S75.943,33.592,128,33.592         c25.217,0,48.925,9.82,66.756,27.651L184.15,71.85C169.151,56.852,149.21,48.592,128,48.592         c-43.786,0-79.408,35.622-79.408,79.408S84.214,207.408,128,207.408s79.408-35.622,79.408-79.408h15         C222.408,180.057,180.057,222.408,128,222.408z">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                            <g>
                                                                <g>
                                                                    <path class="st1"
                                                                        d="M128,207.408c-42.612,0-77.479-33.741-79.319-75.908c-0.051,1.161-0.089,2.326-0.089,3.5         c0,43.786,35.622,79.408,79.408,79.408s79.408-35.622,79.408-79.408h14.74c0.17-2.312,0.26-4.645,0.26-7h-15         C207.408,171.786,171.786,207.408,128,207.408z">
                                                                    </path>
                                                                </g>
                                                                <g>
                                                                    <path class="st1"
                                                                        d="M128,40.592c23.56,0,45.801,8.574,63.165,24.243l3.591-3.591C176.925,43.412,153.217,33.592,128,33.592         c-52.057,0-94.408,42.351-94.408,94.408c0,1.172,0.029,2.338,0.072,3.5C35.512,81.059,77.116,40.592,128,40.592z">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                            <g>
                                                                <polygon class="st0"
                                                                    points="211.5,88.55 167.685,88.55 211.5,44.735       ">
                                                                </polygon>
                                                            </g>
                                                            <g>
                                                                <polygon class="st1"
                                                                    points="167.685,88.55 177.685,88.55 211.5,54.735 211.5,44.735       ">
                                                                </polygon>
                                                            </g>
                                                        </g>
                                                        <g>
                                                            <g>
                                                                <path class="st2"
                                                                    d="M112.429,137.072c4.273-4.835,7.204-8.809,8.957-12.15c1.865-3.554,2.81-6.948,2.81-10.088        c0-5.566-1.81-10.079-5.38-13.41c-3.501-3.269-8.294-4.926-14.245-4.926c-3.905,0-7.462,0.885-10.572,2.629        c-3.16,1.773-5.633,4.256-7.35,7.381c-1.685,3.065-2.539,6.492-2.539,10.185v3.5h11.516v-3.5c0-2.881,0.803-5.115,2.455-6.831        c1.616-1.678,3.739-2.494,6.49-2.494c2.654,0,4.615,0.666,5.994,2.037c1.373,1.365,2.041,3.265,2.041,5.808        c0,1.652-0.482,3.422-1.431,5.262c-1.081,2.095-3.121,4.877-6.042,8.246l-19.808,22.468v8.314h41.604V148.67H102.17        L112.429,137.072z">
                                                                </path>
                                                            </g>
                                                            <g>
                                                                <g>
                                                                    <path class="st1"
                                                                        d="M86.648,112.509c1.717-3.125,4.19-5.608,7.35-7.381c3.11-1.745,6.667-2.629,10.572-2.629         c5.951,0,10.744,1.657,14.245,4.926c2.848,2.658,4.556,6.078,5.139,10.174c0.155-0.94,0.242-1.864,0.242-2.764         c0-5.566-1.81-10.079-5.38-13.41c-3.501-3.269-8.294-4.926-14.245-4.926c-3.905,0-7.462,0.885-10.572,2.629         c-3.16,1.773-5.633,4.256-7.35,7.381c-1.685,3.065-2.539,6.492-2.539,10.185v3.5h0.14         C84.551,117.447,85.35,114.87,86.648,112.509z">
                                                                    </path>
                                                                </g>
                                                                <g>
                                                                    <polygon class="st1"
                                                                        points="98.964,148.67 93.657,154.67 126.928,154.67 126.928,148.67        ">
                                                                    </polygon>
                                                                </g>
                                                                <g>
                                                                    <path class="st1"
                                                                        d="M111.174,126.475c0.95-1.84,1.431-3.61,1.431-5.262c0-1.195-0.153-2.242-0.452-3.164         c-0.236,0.793-0.554,1.601-0.979,2.426c-1.081,2.095-3.121,4.877-6.042,8.246l-19.808,22.468v6l19.808-22.468         C108.053,131.352,110.092,128.571,111.174,126.475z">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                            <g>
                                                                <path class="st2"
                                                                    d="M163.277,134.707v-37.45h-10.353l-27.191,41.15v7.132h25.991v13.963h11.553v-13.963h8.613v-10.833        H163.277z M151.724,118.786v15.921h-10.435L151.724,118.786z">
                                                                </path>
                                                            </g>
                                                            <g>
                                                                <g>
                                                                    <polygon class="st1"
                                                                        points="154.188,140.707 154.188,134.707 138.25,134.707 134.317,140.707        ">
                                                                    </polygon>
                                                                </g>
                                                                <g>
                                                                    <polygon class="st1"
                                                                        points="163.277,103.257 163.277,97.257 152.924,97.257 125.733,138.407 125.733,144.407          152.924,103.257        ">
                                                                    </polygon>
                                                                </g>
                                                                <g>
                                                                    <rect x="160.75" y="134.707" class="st1"
                                                                        width="11.141" height="6"></rect>
                                                                </g>
                                                            </g>
                                                        </g>
                                                        <g>
                                                            <path class="st3"
                                                                d="M204.908,125.5v2.5c0,42.407-34.501,76.908-76.908,76.908S51.092,170.407,51.092,128       S85.593,51.092,128,51.092c19.762,0,38.387,7.404,52.708,20.899l-5.949,5.949c-0.063-0.059-0.126-0.118-0.189-0.177       l-3.402,3.664c0.018,0.017,0.036,0.034,0.053,0.05l-9.572,9.572H214V38.699l-19.146,19.146       c-18.1-17.271-41.748-26.753-66.854-26.753c-53.436,0-96.908,43.473-96.908,96.908S74.564,224.908,128,224.908       s96.908-43.473,96.908-96.908v-2.5H204.908z M209,86.05h-35.28L209,50.771V86.05z M128,219.908       c-50.679,0-91.908-41.229-91.908-91.908S77.321,36.092,128,36.092c23.715,0,46.058,8.92,63.197,25.175l-7.073,7.074       C168.875,53.975,149.042,46.092,128,46.092c-45.164,0-81.908,36.744-81.908,81.908S82.836,209.908,128,209.908       c44.329,0,80.546-35.394,81.87-79.408h10.005C218.547,180.028,177.843,219.908,128,219.908z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M174.391,132.207h-8.613v-37.45h-14.198l-28.347,42.899v8.515h-15.514l6.583-7.442v-0.001       c4.41-4.989,7.451-9.125,9.298-12.644c2.054-3.916,3.096-7.701,3.096-11.25c0-6.288-2.077-11.415-6.174-15.237       c-3.979-3.715-9.346-5.599-15.951-5.599c-4.338,0-8.307,0.992-11.796,2.949c-3.574,2.005-6.372,4.817-8.316,8.357       c-1.891,3.438-2.849,7.269-2.849,11.389v6h16.516v-6c0-2.233,0.558-3.853,1.756-5.097c1.135-1.179,2.625-1.728,4.689-1.728       c1.961,0,3.345,0.429,4.232,1.31c0.559,0.556,1.304,1.58,1.304,4.035c0,1.247-0.388,2.632-1.153,4.115       c-0.682,1.32-2.226,3.737-5.695,7.739l-20.433,23.176v11.758h46.604V148.04h19.797v13.963h16.553V148.04h8.613V132.207z        M124.428,157.002H87.824v-4.869l19.196-21.775c3.057-3.525,5.201-6.464,6.375-8.737c1.135-2.199,1.71-4.355,1.71-6.409       c0-3.198-0.935-5.749-2.779-7.582c-1.871-1.859-4.408-2.763-7.756-2.763c-3.42,0-6.209,1.097-8.291,3.26       c-2.093,2.173-3.154,5.055-3.154,8.565v1h-6.516v-1c0-3.268,0.75-6.289,2.23-8.981c1.487-2.709,3.635-4.864,6.381-6.405       c2.732-1.532,5.878-2.31,9.35-2.31c5.298,0,9.517,1.431,12.539,4.254c3.043,2.839,4.586,6.736,4.586,11.582       c0,2.731-0.849,5.735-2.523,8.926c-1.657,3.159-4.476,6.972-8.616,11.656L96.621,151.17h27.807V157.002z M169.391,143.04       h-8.613v13.963h-6.553V143.04h-25.992v-3.881l26.036-39.402h6.509v37.45h8.613V143.04z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M154.225,137.207v-26.795l-17.563,26.795H154.225z M149.225,132.207h-3.308l3.308-5.046V132.207z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M141.491,195.165c1.688-0.339,3.384-0.747,5.039-1.212l-1.354-4.814c-1.534,0.432-3.105,0.81-4.669,1.124       L141.491,195.165z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M130.173,196.466c1.724-0.054,3.463-0.174,5.169-0.356l-0.531-4.972c-1.582,0.169-3.195,0.281-4.794,0.331       L130.173,196.466z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M112.678,194.771l1.119-4.873c-1.556-0.357-3.116-0.778-4.638-1.252l-1.486,4.774       C109.315,193.932,110.999,194.386,112.678,194.771z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M152.439,191.995c1.604-0.615,3.209-1.301,4.769-2.039l-2.139-4.52c-1.445,0.684-2.933,1.32-4.42,1.89       L152.439,191.995z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M101.826,191.303l1.916-4.618c-1.47-0.61-2.938-1.286-4.361-2.007l-2.26,4.46       C98.656,189.915,100.239,190.644,101.826,191.303z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M91.708,186.075l2.656-4.236c-1.353-0.848-2.689-1.757-3.971-2.703l-2.969,4.023       C88.809,184.18,90.25,185.161,91.708,186.075z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M123.958,196.381l0.291-4.991c-1.594-0.093-3.203-0.248-4.782-0.461l-0.668,4.955       C120.502,196.114,122.238,196.281,123.958,196.381z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M189.25,158.655l-4.467-2.245c-0.717,1.426-1.497,2.841-2.318,4.207l4.285,2.577       C187.636,161.721,188.477,160.193,189.25,158.655z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M176.291,169.19l3.801,3.248c1.122-1.313,2.204-2.68,3.216-4.064l-4.035-2.951       C178.334,166.705,177.331,167.973,176.291,169.19z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M193.496,148.084l-4.781-1.465c-0.464,1.516-0.996,3.04-1.582,4.528l4.654,1.829       C192.419,151.368,192.994,149.722,193.496,148.084z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M160.164,182.736l2.539,4.307c1.482-0.873,2.949-1.815,4.364-2.801l-2.859-4.103       C162.896,181.053,161.536,181.926,160.164,182.736z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M195.919,136.952l-4.957-0.652c-0.21,1.592-0.481,3.186-0.806,4.736l4.893,1.026       C195.4,140.389,195.692,138.67,195.919,136.952z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M144.818,61.568l-1.221,4.849c1.548,0.39,3.1,0.843,4.611,1.349l1.586-4.742       C148.163,62.479,146.488,61.989,144.818,61.568z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M62.974,106.448l4.744,1.576c0.502-1.509,1.068-3.021,1.686-4.493l-4.611-1.933       C64.126,103.188,63.515,104.819,62.974,106.448z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M116.021,60.549c-1.695,0.3-3.4,0.67-5.066,1.098l1.244,4.843c1.544-0.397,3.123-0.739,4.694-1.017       L116.021,60.549z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M127.362,59.503c-1.726,0.016-3.467,0.098-5.175,0.242l0.42,4.982c1.585-0.134,3.2-0.209,4.802-0.224       L127.362,59.503z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M97.07,72.554l-2.443-4.362c-1.499,0.839-2.987,1.748-4.425,2.703l2.766,4.166       C94.301,74.175,95.681,73.333,97.07,72.554z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M155.601,65.268l-2.016,4.576c1.459,0.642,2.912,1.35,4.319,2.103l2.359-4.408       C158.744,66.725,157.175,65.961,155.601,65.268z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M165.61,70.723l-2.754,4.173c1.331,0.878,2.646,1.82,3.911,2.798l3.059-3.955       C168.464,72.685,167.046,71.67,165.61,70.723z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M133.574,59.722l-0.398,4.984c1.595,0.127,3.2,0.317,4.772,0.562l0.773-4.939       C137.025,60.064,135.294,59.86,133.574,59.722z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M175.844,176.98l-3.494-3.577c-1.145,1.118-2.343,2.205-3.563,3.229l3.217,3.828       C173.318,179.355,174.61,178.184,175.844,176.98z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M88.313,78.465l-3.131-3.899c-1.344,1.079-2.662,2.221-3.917,3.394l3.414,3.653       C85.843,80.525,87.065,79.466,88.313,78.465z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M105.005,63.471c-1.625,0.581-3.245,1.231-4.816,1.932l2.037,4.566c1.456-0.65,2.957-1.252,4.463-1.79       L105.005,63.471z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M65.513,139.335c-0.283-1.565-0.511-3.165-0.674-4.754l-4.974,0.513c0.177,1.716,0.422,3.443,0.728,5.133       L65.513,139.335z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M59.5,128c0,0.297,0.002,0.594,0.006,0.89l5-0.068c-0.004-0.273-0.006-0.547-0.006-0.821       c0-1.327,0.041-2.666,0.123-3.982l-4.99-0.31C59.545,125.126,59.5,126.57,59.5,128z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M82.593,179.247l3.316-3.742c-1.191-1.056-2.359-2.173-3.473-3.321l-3.59,3.481       C80.047,176.902,81.308,178.108,82.593,179.247z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M68.258,149.531c-0.543-1.501-1.034-3.041-1.46-4.577l-4.818,1.337c0.46,1.657,0.99,3.319,1.575,4.939       L68.258,149.531z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M60.3,117.523l4.941,0.764c0.245-1.584,0.552-3.171,0.912-4.716l-4.869-1.136       C60.896,114.103,60.564,115.815,60.3,117.523z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M74.282,94.169l-4.227-2.672c-0.918,1.453-1.793,2.96-2.601,4.481l4.416,2.345       C72.619,96.914,73.431,95.516,74.282,94.169z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M72.667,159.131c-0.786-1.393-1.527-2.831-2.204-4.274l-4.527,2.122c0.729,1.557,1.529,3.108,2.378,4.61       L72.667,159.131z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M78.609,167.868c-1.008-1.248-1.978-2.543-2.881-3.851l-4.113,2.844c0.975,1.409,2.02,2.806,3.106,4.149       L78.609,167.868z">
                                                            </path>
                                                            <path class="st3"
                                                                d="M76.918,82.406c-1.145,1.281-2.256,2.624-3.304,3.99l3.967,3.043c0.973-1.268,2.004-2.513,3.065-3.702       L76.918,82.406z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                    <g>
                                                        <g>
                                                            <ellipse
                                                                transform="matrix(0.1585 -0.9874 0.9874 0.1585 -98.361 302.0175)"
                                                                class="st0" cx="128" cy="208.713" rx="34.4" ry="34.4">
                                                            </ellipse>
                                                        </g>
                                                        <g>
                                                            <path class="st3"
                                                                d="M128,245.612c-20.347,0-36.899-16.553-36.899-36.899c0-20.347,16.553-36.9,36.899-36.9       s36.899,16.553,36.899,36.9C164.899,229.059,148.347,245.612,128,245.612z M128,176.813c-17.59,0-31.899,14.31-31.899,31.9       c0,17.589,14.31,31.899,31.899,31.899s31.899-14.31,31.899-31.899C159.899,191.123,145.59,176.813,128,176.813z">
                                                            </path>
                                                        </g>
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <path class="st1"
                                                                        d="M133.239,229.245l-3.4-0.884c-1.209-0.314-2.47-0.314-3.678,0l-3.4,0.884         c-4.91,1.276-9.64-2.709-9.64-8.123l0,0c0-8.805,6.662-15.942,14.88-15.942l0,0c8.218,0,14.88,7.138,14.88,15.942l0,0         C142.88,226.536,138.15,230.521,133.239,229.245z">
                                                                    </path>
                                                                </g>
                                                                <g>
                                                                    <g>
                                                                        <g>
                                                                            <path class="st1"
                                                                                d="M113.5,199.866c1.918,2.699,2.022,6.046,0.233,7.474c-1.789,1.429-4.794,0.398-6.712-2.301           c-1.918-2.699-2.022-6.046-0.233-7.474C108.577,196.136,111.582,197.166,113.5,199.866z">
                                                                            </path>
                                                                        </g>
                                                                        <g>
                                                                            <path class="st1"
                                                                                d="M125.483,193.415c0.905,3.635-0.314,7.128-2.723,7.802c-2.409,0.674-5.095-1.726-6-5.36           c-0.905-3.635,0.314-7.128,2.723-7.802C121.891,187.38,124.578,189.78,125.483,193.415z">
                                                                            </path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <g>
                                                                            <path class="st1"
                                                                                d="M142.5,199.866c-1.918,2.699-2.022,6.046-0.233,7.474c1.789,1.429,4.794,0.398,6.712-2.301           c1.918-2.699,2.022-6.046,0.233-7.474C147.423,196.136,144.418,197.166,142.5,199.866z">
                                                                            </path>
                                                                        </g>
                                                                        <g>
                                                                            <path class="st1"
                                                                                d="M130.517,193.415c-0.905,3.635,0.314,7.128,2.723,7.802c2.409,0.674,5.095-1.726,6-5.36           c0.905-3.635-0.314-7.128-2.723-7.802C134.109,187.38,131.422,189.78,130.517,193.415z">
                                                                            </path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </switch>
                                    </svg>
                                </div>
                                <h4 style="display: inline-block;">Connect</h4>
                                <p>Once you find a pet, click "show number" to get contact info for their pet parent or
                                    rescue. Contact them to learn more about how to meet and adopt the pet.</p>

                            </div>


                            <div>
                                <div style="display: inline-block;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="70" viewBox="0 0 512 512"
                                        width="70">
                                        <g id="filled_outline" data-name="filled outline">
                                            <path d="m472 488-432 .92v-336l216-128.92 216 128z" fill="#0292c9"></path>
                                            <path
                                                d="m400 489 5.766-20.219a306.312 306.312 0 0 0 10.82-123.8 306.31 306.31 0 0 0 -49.346-134.121 228.588 228.588 0 0 0 -57.333-59.212 125.419 125.419 0 0 0 -48.307-20.928 52.241 52.241 0 0 0 -26.76 1.666l-19 6.334a36 36 0 0 0 -22.04 20.78l-9.8 24.5-47.789 23.894a16 16 0 0 0 -6.157 23.187l21.946 32.919 47.247-4.3v229.22z"
                                                fill="#fbb540"></path>
                                            <path
                                                d="m344 212.22a32 32 0 0 1 -64 0v-16.72a70.437 70.437 0 0 0 -10.03-36.22l-8.15-13.58a91.893 91.893 0 0 0 -12.13-15.96c.56-.02 1.11-.03 1.67-.03a52.054 52.054 0 0 1 10.24 1.01 125.371 125.371 0 0 1 48.31 20.93q5.07 3.63 9.94 7.52a70.317 70.317 0 0 1 24.15 53.05z"
                                                fill="#fbb540"></path>
                                            <path
                                                d="m143.7 234.86-7.7 5.14-5.95-8.92a16.01 16.01 0 0 1 6.16-23.19l15.74-7.87.05-.02 1.81 5.42a25.649 25.649 0 0 1 -10.11 29.44z"
                                                fill="#fbb540"></path>
                                            <path
                                                d="m369.041 317.359-49.041 49.041-49.041-49.041a23.758 23.758 0 0 1 -6.959-16.8 23.759 23.759 0 0 1 23.759-23.759 23.758 23.758 0 0 1 16.8 6.959l15.441 15.441 15.441-15.441a23.758 23.758 0 0 1 16.8-6.959 23.759 23.759 0 0 1 23.759 23.759 23.758 23.758 0 0 1 -6.959 16.8z"
                                                fill="#e82f3e"></path>
                                            <g fill="#d18d28">
                                                <circle cx="221" cy="189" r="11"></circle>
                                                <path
                                                    d="m199.247 259.705 35.584-3.235a9.316 9.316 0 0 0 7.49-5.113 7.515 7.515 0 0 1 12.9-.913 7.514 7.514 0 0 1 .235 8.186 22.68 22.68 0 0 1 -16.776 10.725l-38.68 4.445z">
                                                </path>
                                                <path
                                                    d="m344 212.22a32 32 0 0 1 -64 0v-16.72a70.437 70.437 0 0 0 -10.03-36.22l-8.15-13.58a91.893 91.893 0 0 0 -12.13-15.96c.56-.02 1.11-.03 1.67-.03a52.054 52.054 0 0 1 10.24 1.01 125.371 125.371 0 0 1 48.31 20.93l4.61 3.3q2.775 1.98 5.33 4.22a70.317 70.317 0 0 1 24.15 53.05z">
                                                </path>
                                                <path
                                                    d="m143.7 234.86-7.7 5.14-5.95-8.92a16.01 16.01 0 0 1 6.16-23.19l15.74-7.87.05-.02 1.81 5.42a25.649 25.649 0 0 1 -10.11 29.44z">
                                                </path>
                                            </g>
                                            <path
                                                d="m272 416 2.155.616a74.241 74.241 0 0 1 53.845 71.384v1h-200l-4.839-16.726a200 200 0 0 1 22.424-166.193l6.415-10.081 1.851-3.7a51.192 51.192 0 0 1 45.786-28.3h.363v32l27.877 13.939a46 46 0 0 1 24.535 32.122l3.588 17.939.811.811a24 24 0 0 1 1.77 31.963l-2.581 3.226z"
                                                fill="#fbfdff"></path>
                                            <path
                                                d="m218.516 424a52.355 52.355 0 0 1 -37.266-15.436l-2.907-2.907a8 8 0 0 1 11.314-11.314l2.907 2.907a36.7 36.7 0 0 0 54.61-3.024l2.579-3.226a8 8 0 1 1 12.494 10l-2.58 3.224a52.44 52.44 0 0 1 -41.151 19.776z"
                                                fill="#cbcbcb"></path>
                                            <circle cx="216" cy="352" fill="#cbcbcb" r="11"></circle>
                                            <path
                                                d="m352.241 268.8a31.548 31.548 0 0 0 -22.456 9.3l-9.785 9.787-9.784-9.784a31.759 31.759 0 1 0 -44.916 44.913l49.041 49.042a8 8 0 0 0 11.314 0l49.045-49.042a31.759 31.759 0 0 0 -22.459-54.216zm11.144 42.9-43.385 43.387-43.385-43.387a15.759 15.759 0 0 1 22.285-22.284l15.441 15.441a8 8 0 0 0 11.314 0l15.445-15.442a15.759 15.759 0 0 1 22.285 22.285z">
                                            </path>
                                            <path
                                                d="m476.079 145.117-216-128a8 8 0 0 0 -8.179.014l-216 128.921a8 8 0 0 0 -3.9 6.869v336a8 8 0 0 0 8 8h.017l432-.921a8 8 0 0 0 7.983-8v-336a8.005 8.005 0 0 0 -3.921-6.883zm-284.079 127.551v23.332a8 8 0 0 0 4.422 7.155l27.878 13.939a37.752 37.752 0 0 1 20.268 26.536l3.588 17.939a8 8 0 0 0 2.188 4.088l.811.811a15.982 15.982 0 0 1 1.18 21.308l-2.579 3.224-2.579 3.224a36.7 36.7 0 0 1 -54.61 3.024l-2.907-2.907a8 8 0 0 0 -11.314 11.314l2.907 2.907a52.7 52.7 0 0 0 74.546-.014l9.954 12.452a8 8 0 0 0 4.051 2.695l2.153.616a66.568 66.568 0 0 1 47.553 55.689h-185.6l-3.1-10.079a191.719 191.719 0 0 1 21.526-159.545l6.416-10.081a8.042 8.042 0 0 0 .406-.717l1.851-3.7a42.919 42.919 0 0 1 30.991-23.21zm84.652 136.342-10.459-13.074a31.963 31.963 0 0 0 -2.814-39.833l-3.122-15.612a53.654 53.654 0 0 0 -28.8-37.708l-23.457-11.727v-24.114l32.724-2.975a8 8 0 0 0 6.431-4.389l8-16a8 8 0 0 0 -14.31-7.156l-6.008 12.015-78.821 7.163-8.922-13.384 1.047-.7a33.72 33.72 0 0 0 13.619-37.457l25.818-12.909a8 8 0 0 0 3.85-4.184l9.8-24.5a27.946 27.946 0 0 1 17.142-16.165l19-6.334a44.19 44.19 0 0 1 8.995-1.969 84.075 84.075 0 0 1 8.594 11.81l8.148 13.581a62.4 62.4 0 0 1 8.893 32.111v16.727a40 40 0 1 0 80 0 77.971 77.971 0 0 0 -.61-9.7q4.806 6.207 9.194 12.775a299.689 299.689 0 0 1 48.056 130.61 296.584 296.584 0 0 1 -10.54 120.57l-4.1 13.684-58.378.125a82.636 82.636 0 0 0 -58.97-71.281zm-139.942-182.367a8 8 0 0 1 3.079-11.593l7.2-3.6a17.681 17.681 0 0 1 -7.719 16.756l-1.046.7zm178.218-61.155a62.526 62.526 0 0 1 21.072 46.735 23.868 23.868 0 0 1 -13.266 21.466 24.119 24.119 0 0 1 -21.467 0 23.867 23.867 0 0 1 -13.267-21.466v-16.723a78.407 78.407 0 0 0 -11.171-40.33l-8.148-13.581c-.232-.386-.486-.759-.723-1.142a116.571 116.571 0 0 1 37.3 17.714q4.95 3.533 9.67 7.327zm149.072 314.529-53.287.113 2.715-9.05a312.5 312.5 0 0 0 11.1-127.037 315.762 315.762 0 0 0 -50.628-137.62 235.614 235.614 0 0 0 -48.66-53.177c-1.932-1.692-3.951-3.3-6.062-4.809a8.058 8.058 0 0 0 -.761-.479c-1.276-.95-2.559-1.894-3.856-2.82a132.55 132.55 0 0 0 -51.387-22.262 60.306 60.306 0 0 0 -30.858 1.921l-19 6.333a43.918 43.918 0 0 0 -26.939 25.4l-8.677 21.675-45.069 22.534a24 24 0 0 0 -9.236 34.779l5.945 8.916 16 24a8 8 0 0 0 7.38 3.529l7.123-.648a59.447 59.447 0 0 0 -13.151 17.4l-1.667 3.334-6.194 9.732a207.691 207.691 0 0 0 -23.32 172.84l1.886 6.13-69.397.149v-323.437l208.015-124.155 207.985 123.251z">
                                            </path>
                                            <circle cx="216" cy="352" r="11"></circle>
                                            <circle cx="221" cy="189" r="11"></circle>
                                        </g>
                                    </svg>
                                </div>
                                <h4 style="display: inline-block;">AdoptLove</h4>
                                <p>The rescue or pet parents will walk you through their adoption process. Prepare your
                                    home for the arrival of your fur baby to help them adjust to their new family.</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="container-fluid text-center py-5"
            style=" border-top: 1px solid #929a9c; background-image: url(https://cdn2.photostockeditor.com/c/2912/animal-grayscale-photo-of-dalmatian-laying-on-grass-field-black-and-white-black-and-white-image.jpg); background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
            <h2 class="my-4 py-3" style="border-radius: 5px;background-color: #12243675;color: white;">Even small
                donations can go a long way !</h2>
            <p class="py-3" style="border-radius: 5px;background-color: #12243675   ;color: white;">A thousand rupees
                does not even buy us the basic luxuries of life these days... but do you know what it can do?<br>
                Help transport an animal to its forever home. Feed a couple of hungry animals. Vaccinate a young animal
                against deadly diseases. Buy medicines that can make a difference between living and dying.<br>
                Save a life.
                So what are you waiting for? Do your good deed for the day. Donate ₹ 1000 and join our cause!</p>

            <form action="/donate" method="get">
            <button class="btn btn-primary my-3 " >Donate Now</button>
            </form>
        </section>

        <section class="container text-center aboutUs" style="border-top: 1px solid #929a9c;">
            <div class="container py-2">


                <div class="p-2 mb-4 bg-light rounded-3 text-center">
                    <div class="container-fluid py-2">
                        <h1 class="display-5 fw-bold py-3" style="font-family: 'Poppins', sans-serif;">About Us</h1>
                        <p class="text-center">We are a youth-driven non-profit organization devoted to animal care,
                            dedicated to revolutionizing the animal welfare sector. We primarily focus on stray animals
                            being fed by the people in their neighbourhood. To do this we provide incentives such as
                            certificates to those volunteering to feed these animals. Our ultimate goal is to explore
                            and expand our network to the extent that no stray animal goes hungry.</p>

                    </div>
                </div>

                <div class="row align-items-md-stretch">
                    <div class="col-md-6">
                        <div class="h-100 p-5  rounded-3" style="background-color: #00bbe0;">
                            <h2 style="font-family: 'Edu NSW ACT Foundation', cursive;">Volunteer With Us</h2>
                            <p>You can also help us by donating to our fundraiser. 100% of all donations go towards one
                                or more of the following: Food for stray animals, emergency medical treatment,
                                reflective collars, sterilizations or vaccinations. </p>
                                <button class="btn  mx-2" type="submit"><a href="https://forms.gle/1KeATgMqu5rYkat86"
                                    target="_blank" style="color: white; text-decoration: none;">Volunteer</a></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="h-100 p-5 bg-light border rounded-3" style="border-color: #00bbe0;">
                            <h2 style="font-family: 'Edu NSW ACT Foundation', cursive;">Start Adopting</h2>
                            <p style="font-family: 'Advent Pro', sans-serif;">Or, keep it light and add a border for
                                some added definition to the boundaries of your content. Be sure to look under the hood
                                at the source HTML here as we've adjusted the alignment and sizing of both column's
                                content for equal-height.</p>

                            <form action="/adopt" method="get">
                            <button class="btn btn-outline-secondary " type="submit">
                                Adopt
                            </button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div class="album py-5 my-4 bg-light container" style="border-top: 1px solid #929a9c;">
            <div class="container">

                <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col ">
                        <div class="card shadow-sm ">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://media.istockphoto.com/photos/lost-and-homeless-abandoned-dog-picture-id837572972?k=20&m=837572972&s=612x612&w=0&h=cfpke0xbfVaooq0krhD-j75nnBoipkpmIEgTPikMWUs=">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text">Excellent service thank you</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                    </div>
                                    <small class="text-muted">-Reena Saxena</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card shadow-sm ">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://media.istockphoto.com/photos/young-woman-in-animal-shelter-picture-id1265210645?k=20&m=1265210645&s=612x612&w=0&h=1cjLjP2BaeENtmv0G1gzMZvoq0JCWY4iNyyYjbydiP0=">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text></i>

                            <div class="card-body">
                                <p class="card-text">Great service! on time and professional work!</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                    </div>
                                    <small class="text-muted">-Alia Singh</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card shadow-sm ">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pet-adoption-royalty-free-image-495386789-1539798087.jpg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text></i>

                            <div class="card-body">
                                <p class="card-text">Good work by the team</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                    </div>
                                    <small class="text-muted">-Tina Agrawal</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
  </main>
<!-- content ends -->



<!-- Card Ends -->

<!-- <script src="public/js/clusterMap.js"></script> -->

<%- include('../footer.ejs') %> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
</script>
</body>
</html>
